%header
  %a{:href => root_path}
    %img.logo{alt: "Responsive image", src: "/assets/kanari-logo-final-40d20b7067a46721ef187789b108e838.gif"}
.container
  %h1 Editing event

  = render 'form'

  = link_to 'Show', @event