// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


span{
  &#controlState {
    font-size: 35px;
  }
  &#otherControls{
  }

}

.event-code{
  font-size: 36px;
  color: #566eff;
}

#recorderUI{
  text-align: center;
  background: #2c327c;
  padding: 25px 0;
  width: 400px;
  margin: 0 auto;
  border-radius: 25px;
  #timer{
    margin: 15px auto;
    background-color: #566eff;
    width: 200px;
    border-radius: 15px;
  }
}

#otherControls{

  span{
    font-size: 35px;
  }
  display: inline-block;
}

.kanari-container{
  width: 960px;
  #cursor{
    position: absolute;
    height: 75%;
    background: #566eff;
    width: 3px;
  }
}